<!--jumbo.hbs template corresponds to the <Jumbo> tag, just like super-awesome.hbs corresponds to <SuperAwesome>-->
<div class="jumbo">
    <div class="right tomster"></div>
    {{yield}}
   <!-- Yielding content with the {{yield}} keyword-->
</div>
