<!--order of ...attributes relative to other attributes is significant.
We don't want to allow href, target, or rel to be overridden by the invoker,
so we specified those attributes after ...attributes.
BUT:
'class' attribute is the one exception to how these component attributes are overridden:
the values for the class attribute are merged together (concatenated)-->
<a
        ...attributes
        href={{this.shareURL}}
        target="_blank"
        rel="external nofollow noopener noreferrer"
        class="share button"
>
    {{yield}}
</a>
